body {
	width: ;
    font-family: Gill Sans, sans-serif;
    background-color: #FFF7F7;
	}
	  
	   	  
header {
	position: fixed;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	background-color: #D74848;
	color: #FFFFFF;
	min-height: 50px;
}

header section{
	width: 40%;
	float:left;
	padding: 20px 20px 20px 20px;
}	

main{
	margin-left: 15px;
    margin-right: auto;	
	border-width: 15px 15px 15px 15px;
	border-style: groove;
	border-color: #D74848;
	margin-top: 190px;
    width: 87%;
	padding: 5%;
	color: #D74848;
	border-radius: 25px;
}
article img{
	float:left;
	width: 50%;
}


.produto{
	float: right;
    color: #FF7878;
    font-family: Century Gothic;
    margin-left: 4px;
    margin-top: 10px;
    
    font-weight: bold;
    width: 110px;
}

#submit {
  text-decoration: none;
  color: #FF7878;
  font-family: Century Gothic;
  margin-left: -3px;
  margin-top: 10px;
  padding: 10px;
  background-color: #B22222;
  border-radius: 100px;
  font-weight: bold;
  width: 110px;
}

#submit:hover {
  text-decoration: none;
  color: white;
  font-family: Century Gothic;
  padding: 10px;
  background-color: #FF7878;
  border-radius: 100px;
  width: 110px;
}



h2 {
  display: block;
  clear: both;
}

h2 a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: Century Gothic;
  margin-left: -3px;
  margin-top: 10px;
  padding: 10px;
  background-color: #D3D3D3;
  border-radius: 100px;
  width: 200px;
  float: right;
}

h2 a:hover {
  text-decoration: none;
  color: white;
  font-family: Century Gothic;
  padding: 10px;
  background-color: #808080;
  border-radius: 100px;
  width: 200px;
}

 
footer {
	width: 100%;
	clear: both;
	text-align: center;
	border-top: 1px dashed #AA3232;
}
