body {
	width: 100%;
    font-family: Gill Sans, sans-serif;
    background-color: #FFF7F7;
	margin: 0px;
	padding: 0px;
}
 	  
	  
	  
	  
	  
	  
	  
header {
	position: fixed;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	background-color: #D74848;
    z-index: 10;
	color: #FFFFFF;
	min-height: 200px;
}

header section{
	width: 40%;
	float:left;
	padding: 20px 20px 20px 20px;
}








nav {
  display: block;
  clear: both;
 
}

nav a {
  text-decoration: none;
  color: #D74848;
  font-family: Raleway;
  margin: 0px 100px 0px 100px; /*cima, direita, baixo, esquerda*/
  padding: 10px;
  background-color: #FF7878;
  border-radius: 100px;
   width: 100%;
}

nav a:hover {
  text-decoration: none;
  color: #FF7878;
  font-family: Raleway;
  margin: 0px 100px 0px 100px; /*cima, direita, baixo, esquerda*/
  padding: 13px;
  width: 20%;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 100px;
}








main{
	margin-left: auto;
    margin-right: auto;	
	border-width: 15px 15px 15px 15px;
	border-style: groove;
	border-color: #D74848;
	margin-top: 280px;
    width: 30%;
	padding: 5%;
	color: #D74848;
	border-radius: 25px;
	text-align: center;
}


h1 {
  display: block;
  clear: both;
}

h1 a {
  text-decoration: none;
  color: #FF7878;
  font-family: Century Gothic;
  margin-left: -3px;
  margin-top: 10px;
  padding: 10px;
  background-color: #B22222;
  border-radius: 100px;
}

h1 a:hover {
  text-decoration: none;
  color: white;
  font-family: Century Gothic;
  padding: 10px;
  background-color: #FF7878;
  border-radius: 100px;
}




h2 {
  display: block;
  clear: both;
}

h2 a {
  text-decoration: none;
  color: #FF7878;
  font-family: Century Gothic;
  margin-left: -3px;
  margin-top: 10px;
  padding: 10px;
  background-color: #B22222;
  border-radius: 100px;
}

h2 a:hover {
  text-decoration: none;
  color: white;
  font-family: Century Gothic;
  padding: 10px;
  background-color: #FF7878;
  border-radius: 100px;
}

 
footer {
	width: 100%;
	clear: both;
	text-align: center;
	border-top: 1px dashed #AA3232;
}